body{
    background-color: black;
    margin: 0;
    color: white;
    font-family: "Madimi One", sans-serif;

}



#wrapper{
    display: grid;
    grid-template-areas: 
    "nav"
    "tx1"
    "im1"
    "tx2"
    "im2"
    "tx3"
    "im3"

    
    ;
}

/*blob*/
#blob{

}


a {
    text-decoration: none;
    color: inherit;
}

/*NAV*/

#navbar{
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    background-color: #05f776;
}


#menu_button{
    display: none;

}

#menu{
    display: none;
    position: absolute;
}

/*IMG*/

img{
    width: 100%;
    object-fit:cover;
    overflow: hidden;
    
}

.start__img{
    max-width: 100vh !important;
    display: flex;
    justify-content: center;
}

#img1{
    grid-area: im1;

}

#txt1{
    grid-area: tx1;
}

#img2{
    grid-area: im1;
}

#img3{
    grid-area: im1;
}


#txt_on_img1{
    position: relative;
    top: 10px;
    margin: 50px;
}

#img1:hover #fade_img1{
    opacity: 1;
    background-image: linear-gradient(#00000000, black 40%);
    position: relative;
    bottom: 100px;
    height: 100px;


    
}

#fade_img1{
    opacity: 0;
    height: 100px;
}







.visible {
    display: none !important;
}


#menu.opacity{
    animation: fadeInAnimation ease 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#menu:not(.opacity) {
    animation: fadeInAnimation ease 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
}



@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}



@media screen and (max-width: 500px) {
    #blender, #badminton, #om_mig{
        display: none;
    }

    #menu_button, #menu{
        display:block;
    }

}


