body{
    background-color: black;
    margin: 0;
    color: white;
    font-family: "Oswald", sans-serif;

}



#wrapper{
    display: grid;
    grid-template-areas: 
    "nav"
    "tx1"
    "im1"
    "tx2"
    "im2"
    "tx3"
    "im3"

    
    ;
}

/*blob*/
#blob{

}


a {
    text-decoration: none;
    color: inherit;
}

/*NAV*/

#navbar{
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    background-color: #05f776;
}


#menu_button{
    display: none;

}

#menu{
    display: none;
    position: absolute;
}

#txt1{

}

/*IMG*/

img{
    width: 100%;
    object-fit:cover;
    overflow: hidden;
    
}



#img1_container{
    grid-area: im1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;



}

#img1{
    
    width: 80vw;
    border-radius: 5px;

}


#txt_on_img1{
    position: relative;
    display: flex;
    justify-content: center;
    text-shadow: 0px 0px 10px black;
    font-size: 2rem;
    top: 100px;
}

#img1_container:hover #blur_img1{
    opacity: 1;
    
    height: 55vw;
    width: 90vw;

    backdrop-filter: blur(5px);
}

#blur_img1{
    opacity: 0;
    height: 55vw;
    margin-top: -50vw;
}





#img2_container{
    grid-area: im2;
}



.visible {
    display: none !important;
}


#menu.opacity{
    animation: fadeInAnimation ease 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#menu:not(.opacity) {
    animation: fadeInAnimation ease 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
}



@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}



@media screen and (max-width: 500px) {
    #blender, #badminton, #om_mig{
        display: none;
    }

    #menu_button, #menu{
        display:block;
    }

    #img1{
        width: 100%;
        border-radius: 0px;
    }
    #blur_img1{
        display: none;
    }

}


